/* Aditivos Petrolabs - Marzo 2014 */
/* html5 fix */
article, aside, figure, footer, header, hgroup, nav, section{display:block;}

/* Fuentes */
@font-face {
    font-family: 'Roboto Condensed';
    src: url('robotocondensed-regular-webfont.woff2') format('woff2'),
         url('robotocondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('robotocondensed-light-webfont.woff2') format('woff2'),
         url('robotocondensed-light-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* Elementos HTML */
body{margin:0; padding:0; background:#51A8B1; font-family: 'Lato', sans-serif; font-size:14px; color:#000; line-height:18px;  min-width:1024px}
::-moz-selection{background:#333; color:#FFF;}
img{border:none;}
textarea{resize:none;}
a{color:#51A8B1; text-decoration:none;}
a:hover{color:#336666; transition-duration:0.2s}
h1,h2,h3,h4,h5,h6{margin:0; padding:0; font-weight:normal;}
hr{border:none; height:1px; background:#CCC;}
strong{color:#000;}
*{box-sizing:border-box;}

/* Header */
#cPageHeader{clear:both; background:#FFF; box-shadow:0 1px 10px #666}
#pageHeader{width:960px; margin:0 auto;}
#logo{float:left; margin:17px 0 0 10px}
#topContact{float:right; text-align:right; color:#000; font-family: 'Roboto Condensed', sans-serif; font-size:13px; line-height:16px; padding:10px 10px 5px 0}
#topContact a{font-weight:normal; color:#51A8B1; text-decoration:none; font-size:16px; line-height:26px}
#topContact a:hover{color:#336666;}
#topContact img{margin:0 5px 0 0;}
#pageNav{clear:both; height:44px; background:#51A8B1; line-height:44px;  font-family:'Roboto Condensed', sans-serif; text-transform:uppercase; margin:5px 0 0 0}
#pageNav ul{float:left; margin:0 0 0 2px; padding:0;}
#pageNav ul li{margin:0; padding:0; list-style:none; display:inline; padding:10px 14px; font-size:14px; border-right:1px solid #336666}
#pageNav ul li a{color:#FFF;}
#pageNav ul li a:hover{color:#333; -webkit-transition-duration:0.2s; -moz-transition-duration:0.2s; transition-duration:0.2s;}
#pageNav ul li.activeMenu{background:#FFCC29; color:#333; cursor:default}
#pageNav ul li.activeMenu a,
#pageNav ul li.activeMenu a:hover{color:#333; cursor:default}
#langSelector{float:right; margin:0 10px 0 0; font-size:14px}
#langSelector a{color:#CCC; margin:0 0 0 6px}
#langSelector a:hover,
#langSelector a.currentLang{color:#FFF; -webkit-transition-duration:0.2s; -moz-transition-duration:0.2s; transition-duration:0.2s;}
#langSelector a.currentLang{cursor:default;}
.cse .gsc-control-cse, .gsc-control-cse{background:none !important; border:none !important;}

/* Slider */
#sliderArea{width:960px; height:265px; clear:both; margin:0 auto; background:#E6E6E6; position:relative; overflow:hidden}
#sliderArea #productsBtn{display:block; float:right; background:#FFCC29; color:#333; font-family:'Roboto Condensed', sans-serif; padding:7px 0 0 20px; text-transform:uppercase; font-size:13px; border-radius:5px; padding:0 18px; line-height:35px; z-index:55; position:absolute; right:8px; bottom:32px}
#sliderArea #productsBtn:hover{background:#51A8B1;}
#sliderArea ul{padding:0; margin:0;}
#sliderArea ul li{padding:0; margin:0; list-style:none;}
#sliderArea ul li .sTitle{width:960px; height:85px; position:absolute; bottom:25px; left:0; background:url(../images/bg-slider-title.png); overflow:hidden}
.sTitleContent{width:720px; height:85px; overflow:hidden;}
#sliderArea ul li .sTitle h2{color:#FFF; font-size:28px; text-transform:uppercase; line-height:40px; font-family:'Roboto Condensed', sans-serif; padding:8px 0 0 20px; text-shadow:1px 1px 2px #000}
#sliderArea ul li .sTitle h3{color:#FFF; font-size:15px; text-transform:uppercase; line-height:16px; font-family:'Roboto Condensed', sans-serif; padding:0 0 0 20px; text-shadow:1px 1px 2px #000}
.bx-controls-direction{display:none;}
.bx-wrapper{margin-top:-10px; height:100%}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{bottom:-8px;}
.slidehome{background:no-repeat center center; background-size:cover; width:960px; height:275px}

/* Slider noticias */
#recentNews{clear:both; height:60px; background:#51A8B1 url(../images/newsBubble.png) top left no-repeat; position:relative;}
#recentNews #rnHolder{float:left; width:575px; height:60px; margin:0 0 0 65px; line-height:60px; color:#FFF; position:relative; overflow:hidden;}
#recentNews #rnHolder #sNews{width:575px; height:60px; position:absolute; left:0; top:0; overflow:hidden;}
#recentNews #rnHolder #sNews .newsTitle{float:left; font-size:16px; width:575px; height:60px; position:relative;}
#recentNews #rnHolder #sNews .newsTitle a{color:#FFF;}
#recentNews #rnHolder #sNews .newsTitle a:hover{color:#333; transition-duration:0.3s}
#recentNews #newsNav{position:absolute; top:20px; right:263px;}
#recentNews #newsNav a{font-family:"Comic Sans MS", cursive; width:22px; height:22px; line-height:19px; text-align:center; color:#FFCC29; background:#336666; cursor:pointer; float:left; display:inline-block; border-radius:50%; margin:0 0 0 6px; font-size:16px; font-weight:bold}
#recentNews #newsNav a:hover{color:#336666; background:#FFCC29}
#recentNews #viewAll{float:right; display:block; width:255px; line-height:60px; text-align:center; text-transform:uppercase; color:#000; background:#FFCC29; font-family:'Roboto Condensed', sans-serif; font-size:14px}
#recentNews #viewAll:hover{background:#336666; color:#FFCC29}
.nDisabled,
.nDisabled:hover{cursor:default !important; color:#666 !important; background:#333 !important; opacity:0.35}

/* Inicio */
#homeProducts{clear:both; padding:0 0 25px 0}
.hProduct{float:left; width:230px; position:relative; cursor:pointer; margin:0 13px 0 0; padding-bottom:5px}
.hProduct .picHolder{width:220px; height:220px; clear:both; text-align:center; background:center center no-repeat; background-size:cover; margin:0 0 0 5px}
.hProduct h2{text-align:center; text-transform:uppercase; color:#000;  font-family: 'Roboto Condensed', sans-serif; font-size:15px; line-height:18px; padding:8px 0}
.hProdArrow{width:30px; height:30px; border-radius:50%; color:#FFF; font-family:"Comic Sans MS", cursive; text-align:center; line-height:25px; font-size:25px; position:absolute; bottom:-16px; right:35px;border:4px solid #FFF}
#hProduct1{background:#FFCC29;}
#hProduct2{background:#51A8B1;}
#hProduct3{background:#FFCC29;}
#hProduct4{background:#51A8B1;}
#hProduct1:hover,
#hProduct2:hover,
#hProduct3:hover,
#hProduct4:hover{background:#1B4A4B; transition-duration:0.3s;}
.hProduct:hover h2{color:#FFF; transition-duration:0.2s;}

/* Contenidos */
#titleArea{height:120px; clear:both; background:url(../images/transparentBlack.png); position:relative}
#titleArea h1{ font-family:'Roboto Condensed', sans-serif; font-size:36px; line-height:120px; color:#FFF; text-shadow:1px 1px 5px #333; margin-left:30px}
#titleArea #demoLink{position:absolute; left:225px; top:40px; padding:0 25px; line-height:45px; text-align:center; text-transform:uppercase; color:#FFF; background:#0A3D49; font-family:'Roboto Condensed', sans-serif; font-size:14px; display:block; float:right; border-radius:5px; box-shadow:1px 1px 5px #333}
#titleArea #demoLink:hover{background:#10687F;}
#breadCrumbs{clear:both; height:60px; background:#51A8B1; letter-spacing:0.03em}
#breadCrumbs #breadNav{float:left; width:622px; margin:0 0 0 30px; line-height:60px; color:#FFF; font-family:'Roboto Condensed', sans-serif; font-size:14px; text-transform:uppercase; overflow:hidden}
#breadCrumbs #breadNav a{color:#FFF;}
#breadCrumbs #breadNav a:hover{text-decoration:underline;}
#breadCrumbs #breadContact{float:right; display:block; width:265px; line-height:60px; text-align:center; text-transform:uppercase; color:#000; background:#FFCC29; font-family:'Roboto Condensed', sans-serif; font-size:14px; transition-duration:0.3s}
#breadCrumbs #breadContact:hover{background:#336666; color:#FFF}
.iconSubtitle{color:#333; font-size:22px; font-family:'Roboto Condensed', sans-serif; line-height:40px; border-bottom:1px solid #E6E6E6; margin:20px 0}
.iconSubtitle i,
.ncDate i{color:#51A8B1;}
.galleryPic{padding:3px; border:1px solid #E6E6E6; box-shadow:0 0 3px #666; margin:8px 14px; background:#FFF}
.galleryPic:hover{background:#FFCC29;}
.ui-accordion .ui-accordion-header{color:#666; background:#F0F0F0; font-size:15px; line-height:20px; border-color:#E6E6E6; margin:8px 0 0 0}
.ui-accordion .ui-accordion-header:hover{background:#51A8B1; color:#FFF}
.ui-accordion .ui-accordion-content{border-color:#E6E6E6; padding:10px 15px 20px}

/* Noticias y Eventos */
.newsItem{float:left; width:465px; height:370px; border-bottom:1px solid #CCC; margin:0 30px 20px 0}
.newsItem .niHPic{width:465px; height:200px; overflow:hidden}
.newsItem h2{font-family:'Roboto Condensed', sans-serif; font-size:18px; text-transform:uppercase; text-align:center; line-height:22px; margin:10px 0 0 0}
.newsItem h2 a{color:#333;}
.newsItem h2 a:hover,
.testiTitle h2 a:hover{transition-duration:0.3s; color:#51A8B1}
.newsItem .hiDate{color:#A3A2A2; line-height:22px; text-transform:uppercase; font-size:12px}
.hiMore{float:right; clear:both; letter-spacing:0.03em; text-transform:uppercase; font-family:'Roboto Condensed', sans-serif; }
.newsContent h1{font-family:'Roboto Condensed', sans-serif; font-size:32px; text-transform:uppercase; line-height:40px; margin:0; color:#333}
.ncDate{color:#A3A2A2; line-height:22px; text-transform:uppercase; font-size:14px}

/* Testimonios */
.testiTitle{border-top:2px solid #EAEDF2; text-align:center; padding:16px 0 0 0; position:relative}
.testiTitle i{background:#FFF; color:#FFCC29; display:block; font-size:32px; height:40px; left:50%; line-height:40px; margin-left:-50px; position:absolute; top:-20px; width:100px;}
.testiTitle h2{margin:5px 0 0 0; text-transform:uppercase; font-family:'Roboto Condensed', sans-serif; font-size:20px}
.testiTitle h2 a{color:#333;}
.testiContent{border-bottom:1px solid #EAEDF2; padding:0 0 10px 0; margin:10px 0 55px 0}
.testiContent a{float:right; clear:both; margin:10px 0 0 0;}

/* Productos */
.prodItem{float:left; width:200px; height:250px; margin:0 40px 20px 0; overflow:hidden}
.prodItem .prodPic{background:#FFF center center no-repeat; background-size:cover; text-align:center; border:4px solid #51a8b1; width:170px; height:170px; padding:10px; cursor:pointer; overflow:hidden; border-radius:4px}
.prodItem .prodPic:hover{box-shadow:0 0 10px #FFCC29;}
.prodItem .prodName{display:block; text-align:center; line-height:40px; font-family:'Roboto Condensed', sans-serif; font-size:14px; text-transform:uppercase}
.prodItem .prodName a{color:#333;}
.prodItem .prodName a:hover{color:#44691E;}
#fullProdPic{float:left; width:360px;}
.firstPhoto{width:300px; height:300px; background:#FFF; border:1px solid #CCC; padding:4px; border:1px solid #CCC; background:#FFF}
.firstPhoto img{display:none; width:290px }
.pagePhotos a,
.firstPhoto a{text-decoration:none;}
.pagePhotos{clear:both; margin:5px 0 20px 0; width:300px; padding:0; padding:0 0 0 2px; display:none}
.pagePhotos img{width:65px; float:left; border:1px solid #CCC; cursor:pointer; margin:0 2px; padding:2px; background:#FFF}
.pagePhotos img:hover{border-color:#FFCC29;}
#fullProdOverview{float:left; width:520px;}
#fullProdOverview h1{ font-family:'Roboto Condensed', sans-serif; font-size:28px; line-height:32px; color:#000; text-transform:uppercase;}
#fullProdOverview span{color:#669933;}
#fullProdOverview p{line-height:20px;}
#fullProdOverview .pIndustry{color:#FFF; background:#10687F; border-radius:3px; padding:8px 15px; margin:30px 0 20px 0; clear:both}
#fullProdOverview .pLinkMore{border-top:4px double #E8E8E8; margin:20px 0 0 0; padding:10px 15px; clear:both}
#productPage .ui-widget-content{border:none; font-family: 'Lato', sans-serif; font-size:14px; color:#000 !important; line-height:18px;}
#productPage .ui-tabs .ui-tabs-panel{border:1px solid #E6E6E6; border-radius:3px}
#productPage .ui-widget-header{border:none; background:none;}
#productPage .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{border-color:#E6E6E6; border-top-color:#FFCC29; border-top-width:3px}
#productPage .ui-tabs .ui-tabs-nav li{border-radius:3px;}

/* Catálogo de deseos */
.wishPic{border-color:#ffcc29 !important; transition:0.3s ease; background:center center no-repeat #FFF; background-size:cover; margin:0 auto}
.wishPic:hover{background-color:#FFF;}
.cdCategories{clear:both; box-sizing:border-box; margin:5px 0 20px 0; position:relative; z-index:1}
.cdCategories ul{list-style:none; display:table; width:100%; padding:0; margin:0; background:#ffcc29; position:relative}
.cdCategories ul li{list-style:none; display:table-cell; vertical-align:middle; padding:8px 0; margin:0; width:16.6666%; text-align:center; box-sizing:border-box; border-right:1px solid rgba(0,0,0,0.1);}
.cdCategories ul li:last-child{border:none;}
.cdCategories ul li a{display:block; padding:3px 12px; color:#000; font-family:'Roboto Condensed', sans-serif; text-transform:uppercase; font-size:13px; line-height:15px; width:100%; height:100%; box-sizing:border-box; transition:0.3s ease; position:relative}
.cdCategories ul li > ul{display:none; position:absolute; top:52px; left:0; width:100%; background:#F6F6F6; transition:0.3s ease; border-radius:0 0 3px 3px; box-shadow:0px 2px 7px #CCC inset; padding:12px 0}
.cdCategories ul li > ul li{display:block; float:left; border:none; text-align:left; width:240px; padding:5px 10px}
.cdCategories ul li > ul li a{text-transform:none; font-size:14px; display:inline; color:#666}
.cdCategories ul li > ul li a:hover{color:#000;}
.cdCategories ul li:hover > ul{display:block;}
.subCatIcon{position:absolute; width:100%; text-align:center; bottom:-33px; font-size:32px; color:#ffcc29; z-index:2; display:none}
.sci2{bottom:-26px;}
.cdCategories ul li:hover .subCatIcon{display:block;}
.bgCatalogo{background-image:url(../images/catalogobg2.jpg); background-color:#FFF; background-position:top center; background-repeat:no-repeat}
.bgCatalogo #productList{background:rgba(255,255,255,0.8); padding:20px 20px 0 20px}
.bgCatalogo #productList .testiTitle{border:none;}
.bgCatalogo #productList .testiTitle i{background:none;}
.bgCatalogo #productList .prodItem{margin:0 15px 30px;}

/* Videos */
#videosPage .videoContainer{float:left; margin:15px 20px 30px}

/* contacto */
.pageContact input[type="text"],
.pageContact input[type="email"],
.pageContact select,
.pageContact textarea,
.iLogin input[type="text"],
.iLogin input[type="email"],
input[type="password"]{border: 1px solid #E6E6E6; border-radius: 2px;  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset; font-family: 'Lato', sans-serif; font-size:14px; height: 33px; padding: 0 5px; width:500px;}
.pageContact textarea{height:auto;}
.pageContact input[type="text"]:focus,
.pageContact input[type="email"]:focus,
.pageContact select:focus,
.pageContact textarea:focus,
.iLogin input[type="text"]:focus,
.iLogin input[type="email"]:focus,
input[type="password"]:focus{border-color:#CCC; box-shadow: 0 0 2px #51A8B1 inset; transition-duration:0.2s}
.pageContact th{color:#333; font-weight:normal; min-width:100px}
.pageContact input[type="submit"],
.iLogin input[type="submit"]{background:#10687F; color:#FFF; font-family:'Roboto Condensed', sans-serif; padding:10px 30px; text-transform:uppercase; font-size:14px; border-radius:5px; border:none; cursor:pointer; letter-spacing:0.02em}
.pageContact input[type="submit"]:hover,
.iLogin input[type="submit"]:hover{background:#0A3D49; transition-duration:0.2s}
.mapDiv{ width: 960px; height: 250px}

/* Sidebar */
.contentWithSidebar{float:left; width:675px;}
aside{width:255px; float:right; overflow:hidden}
aside h3{color:#333; font-size:18px; font-family:'Roboto Condensed', sans-serif; line-height:32px; border-bottom:1px solid #E6E6E6; margin:20px 0 10px 0}
.sideNews{clear:both; border-bottom:1px solid #E6E6E6; padding:10px 0}
.sideNews h4 a{color:#333;}
.sideNews h4 a:hover{color:#336666; transition-duration:0.2s}
.sideNews span{color:#A3A2A2; font-size:12px;}
.productsSidebar{background:#51a8b1; padding:10px}
.productsSidebar h3{border:none;}
.productsSidebar .sideNews{border-bottom-color:#41868E;}
.productsSidebar .sideNews a{color:#FFF;}
.productsSidebar .sideNews a:hover{color:#000;}

/* Páginas del islero */
.iLogin{width:400px; margin:0 auto; background:#FFF; padding:20px}
.iLogin label{display:block;}
.iLogin input[type="text"],
.iLogin input[type="email"],
input[type="password"]{display:block; width:100%; margin:5px 0 10px 0}
.cAcLink{text-transform:none; margin:0 0 0 12px; color:#000 !important; padding:5px 12px; border-radius:3px; transition:0.3s ease; background:rgba(255,255,255,0.4)}
.cAcLink:hover{background:rgba(255,255,255,0.2); text-decoration:none !important}
.tablaBalance{width:100%; background:#FFF}
.tablaBalance td,
.tablaBalance th{width:50%; border-bottom:1px solid #CCC; padding:10px}
.tablaBalance th{text-align:right;}

/* Editor de texto */
.editorText p{margin:0 0 15px 0; padding:0; line-height:18px;}
.editorText h2{color:#333; font-size:22px; line-height:28px; font-family:'Roboto Condensed', sans-serif; margin:0 0 10px 0}
.editorText h3{color:#51A8B1; font-size:24px; line-height:32px; font-family:'Roboto Condensed', sans-serif; margin:0 0 10px 0}
.editorText table{padding:0; margin:0; border-collapse:collapse}
.editorText table th{text-align:left; padding:5px 10px; background:#FFCC29; color:#000}
.editorText table td{text-align:left; padding:5px 10px; border:1px solid #000}
.editorText table td.grayTd{background:#F0F0F0;}
.editorText li{margin-bottom:10px;}
.rProdButton{text-transform: uppercase; color: #000; background: #FFCC29; font-family: 'Roboto Condensed', sans-serif; font-size: 14px; transition-duration: 0.3s; border:none; border-radius:3px; text-align:center; padding:0 30px; height:40px; line-height:40px; cursor:pointer}
.rProdButton:hover{background:#336666; color:#FFF;}

/* Footer */
#pageFooter{background:#FFF; height:30px; line-height:30px; clear:both; margin:0 0 10px 0}
#FLocationPin{background:url(../images/locationPin.png) top left no-repeat; padding:0 0 0 20px; line-height:30px; text-transform:uppercase; font-size:13px;  font-family:'Roboto Condensed', sans-serif; width:400px; float:left}
#FLocationPin strong{color:#000; font-weight:normal;}
#fCalendar{float:right; background:url(../images/footerCalendar.png) top left no-repeat; padding:0 0 0 20px; text-transform:uppercase; font-size:13px; font-family:'Roboto Condensed', sans-serif;}
#credits{font-size:12px; color:#FFF; text-shadow:1px 1px 1px #333}
#credits a{color:#FFF;}
.prodBadge{position:fixed; top:100px; right:0; background:#ffcc29; color:#000; box-shadow:-3px 0 5px #666; border-radius:3px 0 0 3px; padding:10px; z-index:99}
.prodBadge img{border-radius:3px; border:2px solid #FFF;}
.prodBadge span{clear:both; display:block; text-align:center;  font-family:'Roboto Condensed', sans-serif; padding-top:5px; font-size:16px; text-transform:uppercase}

/* Estilos del calendario de noticias y eventos */
#datepicker .highlight a{color:#009900; font-weight:bold;}
.ui-widget{font-size:11px;}

/* Búsqueda de google */
#busquedaGoogle{float:left; width:310px; margin:0 0 0 50px}

/* Mapa */
.mapContainer{width:958px; height:350px; border-radius:7px; overflow:hidden; border:1px solid #E6E6E6}
/* Pedidos adaptada para disp. móviles */
.mobileContainer{width:100%; background:#FFF}
.mobileContainer #titleArea{height:10px; box-shadow:0 4px 8px #333; background:#51A8B1}
.mobileContainer #titleArea h1{line-height:80px; text-align:center; margin:0; background:#51A8B1}
.mobileContainer .shadow{display:none;}
.mobileContainer .whiteBg{padding:5px 15px 10px 15px; box-sizing:border-box; max-width:420px; margin:0 auto}
.mobileContainer .contactTable{padding:20px 0 0 0;}
.mobileContainer .pageContact input[type="text"],
.mobileContainer .pageContact input[type="email"],
.mobileContainer .pageContact select, .pageContact textarea{width:97%;}


/* Estilos globales */
.whiteBg{background-color:#FFF; clear:both;}
.centerContent{margin:0 auto; width:960px}
.shadow{background:url(../images/shadow.png); width:960px; height:24px; clear:both;}
.clear{clear:both;}
.clear10{clear:both; height:10px}
.clear20{clear:both; height:20px}
.clear50{clear:both; height:50px}
.fLeft{float:left;}
.fRight{float:right;}
.noBorder{border:none !important;}
.noMargin{margin:0 !important;}
.noMarginR{margin-right:0 !important;}
.req{color:#C00; font-weight:bold}
.menu_button{display:none;}
.phoneMenu{display:none;}
.phoneCategories, .cPhoneCatMenu{display:none;}
.showPhone{display:none !important;}
.hidePhone{display:block;}

/* Tablet: Portrait */
@media only screen and (min-width:768px) and (max-width:1023px){
	body{min-width:768px;}
	#pageHeader{width:100%;}
	#logo{margin:0; position:absolute; top:32px; left:40px;}
	#busquedaGoogle{float:right; margin:0 16px 0 0;width: 400px;}
	#topContact{clear:both;margin: -15px 20px 0 0;}
	.prodBadge{display:none;}
    #pageNav{margin: 0;}
    #pageNav ul{margin:0}
    #pageNav ul li{font-size: 12px;padding: 10px;}
    #sliderArea ul li .sTitle{width: 100%}
    .sTitleContent{width: auto}
    #productsBtn{display: none}
	.centerContent{width:100%;}
	.shadow{display:none;}
	#sliderArea{width:100%;}
	.slidehome{width:100%;}
	#recentNews #rnHolder{display:none;}
	#recentNews #viewAll{float:none; width:100%}
	#recentNews #newsNav,
	#recentNews #rnHolder{display:none;}
	#recentNews{margin-bottom:30px;}
	#homeProducts{padding:0 24px; box-sizing:border-box;}
	.hProduct{margin-bottom:13px;}
	#pageFooter{padding:20px 20px 0 20px;}
	#credits{padding:5px 20px 10px 20px; box-sizing:border-box;}
	#breadCrumbs #breadNav{width:472px;}
	.contentWithSidebar{box-sizing:border-box; width:70% !important; padding:20px}
	aside{width:30%;}
	.newsItem{margin:0; width:50%;border: none;padding: 0px 24px 20px 24px;}
	.newsItem .niHPic{width:100%; height:auto;}
	.niSummary{display:none;}
	.contentWithSidebar img{max-width:100%;}
	.pIntroText{padding:0 12px;}
	.prodItem{margin:10px;}
	#fullProdPic{margin:0 auto; float:none; clear:both}
	#fullProdOverview{float:none; clear:both; padding:0 20px; width:100%;}
	#fullProdOverview h1{text-align:center; line-height:32px;}
	#fullProdOverview .pIndustry{margin-top:12px;}
	#productPage .ui-widget-content{padding:0 10px;}
	.pageContact th{min-width:80px;}
	.pageContact input[type="text"],
	.pageContact input[type="email"],
	.pageContact select, .pageContact textarea{width:100%;}
	#fb-root{max-width:400px;}
	.hideOnMovil{display:none;}
	.mapContainer{width:100%;}
	.mapContainer iframe{width:100%;}
	#pageFooter{height:auto;}
	.menu_button{display:none;}
	.phoneMenu{display:none;}
	.phoneCategories, .cPhoneCatMenu{display:none;}
	.showPhone{display:none;}
	.hidePhone{display:block;}
}

/* Celulares */
@media only screen and (min-width:0) and (max-width:767px){
	body{min-width:320px;}
	#pageHeader{width:100%; padding:30px 0 10px 0}
	#logo{float:none; clear:both; text-align:center; margin:0}
	#busquedaGoogle{display:none;}
	#topContact,
	#pageNav,
	.prodBadge,
	#sliderArea,
	.shadow{display:none;}
	#cPageHeader{box-shadow:none;}
	#recentNews #rnHolder{display:none;}
	#recentNews #viewAll{float:none; width:100%}
	#recentNews #newsNav,
	#recentNews #rnHolder{display:none;}
	#recentNews{margin-bottom:30px;}
	.centerContent{width:100%; padding:0;}
	#homeProducts{padding:0;}
	.hProduct .picHolder{width:100%; height:320px; margin:0}
	.hProduct{width:100%;}
	#homeProducts{padding:0 30px; box-sizing:border-box;}
	.hProduct{margin-bottom:30px;}
	#pageFooter{padding:20px 20px 0 20px;}
	#credits{padding:5px 20px 10px 20px; box-sizing:border-box;}
	#pageFooter{display:none;}
	#home{padding-bottom:40px;}
	.fLeft,
	.fRight{float:none; clear:both;}
	.menu_button{width:36px; position:absolute; right:15px; top:15px; display:inline-block; cursor:pointer; z-index:4}
	.menu_button .line{ width:100%; height:3px; background:#999; margin:0 0 9px; transition:0.3s ease;}
	.menu_button .line.last{margin:0;}
	.menu_button.active .line{opacity:0;}
	.menu_button.active .line.first{opacity:1; transform:translateY(15px) rotate(45deg);}
	.menu_button.active .line.last{opacity:1; transform:translateY(-10px) rotate(-45deg);}
	.phoneMenu{width:100%; box-sizing:border-box; background:#FFF; position:absolute; left:0; top:0; padding:24px 0; display:none; z-index:3; box-shadow:0 0 5px #000}
	.phoneMenu ul{padding:0; margin:0; list-style:none;}
	.phoneMenu ul li{padding:15px; text-transform:uppercase; display:block}
	.phoneMenu ul li a{font-size:16px; color:#666;}
	#titleArea{height:auto; padding:20px}
	#titleArea h1{font-size:24px; line-height:normal}
	#breadCrumbs{display:none;}
	.contentWithSidebar{width:100% !important; float:none; clear:both; padding:0 20px}
	aside{width:100%; padding:0 20px; float:none; clear:both;}
	#credits .fLeft,
	#credits .fRight{text-align:center;}
	.contentWithSidebar img{max-width:100%;}
	.pIntroText{padding:0 12px;}
	.testiTitle{margin:12px 0 0 0;}
	#titleArea #demoLink{position: relative;top: auto;left: auto;float: none;border-radius: 0;padding: 0;}
	#productList{padding-top:48px;}
	.prodItem{margin:0; width:50%; text-align:center;  padding:0 12px}
	.prodItem .prodPic{width:100%;}
	.prodItem .prodName{line-height:normal; padding-top:10px;}
	#fullProdPic{margin:0 auto; float:none; clear:both; width:100%; padding:0 10px;}
	#fullProdOverview{float:none; clear:both; padding:0 20px; width:100%;}
	#fullProdOverview h1{text-align:center; line-height:32px; margin-top:12px}
	#fullProdOverview .pIndustry{margin-top:0px;}
	#productPage .ui-widget-content{padding:0 10px;}
	.firstPhoto{margin:0 auto;}
	.pagePhotos{margin:10px auto;}
	.cdCategories{display:none;}
	.phoneCategories{display:none; width:100%; box-sizing:border-box; background:#FFF; box-shadow:0 4px 5px #666}
	.phoneCategories ul{padding:0; margin:0; list-style:none;}
	.phoneCategories a{display:block; padding:16px; color:#000; font-size:13px; border-bottom:1px solid rgba(255,255,255,0.5)}
	.phoneCategories ul li a{text-transform:uppercase; background:#ffcc29; font-family:'Roboto Condensed', sans-serif}
	.phoneCategories ul li ul{display:none;}
	.phoneCategories ul li ul li a{text-transform:none; background:none; border-bottom:1px solid #CCC; font-size:14px}
	.cPhoneCatMenu{display:block;}
	.menu_buttonCat{width:36px; position:absolute; right:15px; top:15px; display:inline-block; cursor:pointer; z-index:4}
	.menu_buttonCat .line{ width:100%; height:3px; background:#000; margin:0 0 9px; transition:0.3s ease;}
	.menu_buttonCat .line.last{margin:0;}
	.menu_buttonCat.active .line{opacity:0;}
	.menu_buttonCat.active .line.first{opacity:1; transform:translateY(15px) rotate(45deg); background:#FFF}
	.menu_buttonCat.active .line.last{opacity:1; transform:translateY(-10px) rotate(-45deg); background:#FFF}
	.labelMenu{padding:0 16px; height:60px; line-height:60px; color:#000; font-size:16px; border-bottom:1px solid rgba(255,255,255,0.5); text-transform:uppercase; background:#ffcc29; font-family:'Roboto Condensed', sans-serif}
	.labelMenu.active{background:#333; color:#FFF;}
	.bgCatalogo #productList{padding:0 10px;}
	.bgCatalogo #productList .prodItem{margin:0;}
	.prodItem .prodPic{height:120px;}
	.prodItem .prodName{margin-top:0 !important;}
	.showPhone{display:block !important;}
	.hidePhone{display:none !important;}
	.catDetallePage{padding-top:30px;}
	.catTodosMovil{margin-top:12px;}
	.prod-ficha{width:100% !important;}
	.catDeseosPage #breadCrumbs{display:block; padding:20px; height:auto}
	#breadCrumbs #breadNav{float:none; clear:both; width:100%; margin:0; line-height:normal; text-align:center}
	#breadCrumbs #breadContact{float:none; clear:both; width:100%; margin:10px 0 0 0; line-height:48px; background:rgba(255,255,255,0.4)}
	.iLogin{ width: 100%}
	.pager{ text-align: center;}
	.pager .fLeft{ padding: 0 0 10px 0}
	.pitempagediv{ height: 200px}
	.pitempagediv .prodPic{ height: 140px}
	.pageContact input[type="text"],
	.pageContact input[type="email"],
	.pageContact select, .pageContact textarea{width:100%;}
	#pageContact{ padding-top: 20px}
	.mapDiv{ width: 100%}
	.mapContainer{ width: 100%; }
	.mapContainer iframe{ width: 100% !important}
}
